$jet: #0A0A0A;
$inkstone: #1F1F1F;
$slate: #3D3D3D;
$graphite: #4D4D4D;

$white: #FFFFFF;
$porcelain: #F7F7F7;
$silk: #CCC;
$warm_gray: #AEA79F;
$ash: #878787;

$aubergine: #1A1A1A;
$purple: #2A0000;
$light_aubergine: #330000;
$mid_aubergine: #121212;
$dark_aubergine: #050505;

$red: #990000;

$orange: #990000;

$yellow: #f99b11;

$green: #0e8420;

$blue: #19B6EE;
$linkblue: #007aa6;
$darkblue: #335280;

$light_1: white;
$light_2: $porcelain;

$dark_4: lighten($jet, 4%);
$dark_5: black;

$red_4: $red;

$green_4: lighten($green, 5%);
$green_5: darken($green, 5%);

$yellow_4: darken($yellow, 1%);
$yellow_5: $yellow;

$orange_3: #CC0000;
$orange_4: #660000;
